<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.devtools.mapper.dao.java.GemfireFieldMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.devtools.model.GemfireField">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="field_code" jdbcType="VARCHAR" property="fieldCode" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="is_key" jdbcType="INTEGER" property="isKey" />
    <result column="is_null" jdbcType="INTEGER" property="isNull" />
    <result column="min_value" jdbcType="VARCHAR" property="minValue" />
    <result column="max_vale" jdbcType="VARCHAR" property="maxVale" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
</mapper>